<style>
    body {
        font-family: "Courier New", monospace; /* Use a monospaced font for a retro computer feel */
        font-size: large;
        color: #faf6f6; /* Set font color to off-white */
        text-shadow: 1px 1px 1px rgb(226, 156, 65); /* Add a slight text shadow */
        letter-spacing: 2px; /* Increase letter spacing for a slightly pixelated effect */
        line-height: 1.2; /* Adjust line height for better readability */
    }
</style>
